<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', path='/libs/materialize/css/materialize.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/custom.css') }}">

    <title>
        Ci ::
        {% block titulo %}{% endblock %}
    </title>
</head>

<body class="indigo lighten-5">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    {% if request.url.path != '/login' %}
    {% include 'includes/navbar.html' %}
    {% endif %}

    {% block principal %}
    {% endblock %}

    <script>
        $(document).ready(function () {
            $('.sidenav').sidenav();
            $(".dropdown-trigger").dropdown();
            $('.modal').modal();
        });
    </script>
    
    
    
    
    <script src="{{ url_for('static', path='libs/materialize/js/materialize.min.js') }}"> </script>
    <script src="{{ url_for('static', path='js/mensagem.js') }}"> </script>
    

</body>

</html>