{% extends "base.html" %}
{% block titulo %}Login{% endblock %}
{% block principal %}
<div class="grey darken-1 container-login">
    <div class="row card-login z-depth-5 valign-wrapper ">
        <div class="card-left col s12 l6">
            <img class="responsive-img" src="static/img/logo_cap.png" alt="">
        </div>
        <div class="card-right col s12 l5">
            
            <form class="">


                <div class="input-field">
                    <input id="email" type="email" class="input-black validate" autocomplete="off">
                    <label class="black-text" for="email">Email</label>
                </div>


                <div class="input-field">
                    <input id="senha" type="password" class="validate" autocomplete="off">
                    <label class="black-text" for="senha">Senha</label>
                </div>


                <button class="btn black waves-effect waves-light col s12" type="submit" name="action">Entrar
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}